depth=0
package-lock = true
save = true
save-exact = true
save-prefix = ""
always-auth = true
registry=https://artifactory.service.internal.projecticeland.net/artifactory/api/npm/npm-virtual/
strict-ssl=false 
